@media screen and (min-width: 560px){
    .featured__project{
        margin: 0.75rem;
        width: calc(50% - 1.5rem);
    }
}

@media screen and (min-width: 799px){
    .featured__project{
        margin: 0.75rem;
        width: calc(33.333333% - 1.5rem);
    }
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
    /* Retina-specific stuff here */

    .intro {
        padding: 5.5rem 1.5rem;
        background-image: url(../images/hero@2x.jpg);
        background-size: cover;
        background-position: center top;
        border-radius: 0.5rem;
    }

    #project-1 {
        background: 
        /* top gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.65), 
          rgba(0, 0, 0, 0.65)
        ),
        /* bottom, image */
        url(../images/animal-trading-card@2x.jpg);
        background-size: cover;
        background-position-y: center;
        background-position-x: center;
    }
    
    #project-2 {
        background: 
        /* top gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.65), 
          rgba(0, 0, 0, 0.65)
        ),
        /* bottom, image */
        url(../images/mobile-experience-lab@2x.jpg);
        background-size: cover;
        background-position-y: center;
        background-position-x: center;
    }
    
    #project-3 {
        background: 
        /* top gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.65), 
          rgba(0, 0, 0, 0.65)
        ),
        /* bottom, image */
        url(../images/pixel-art-maker@2x.jpg);
        background-size: cover;
        background-position-y: center;
        background-position-x: center;
    }
}